#stickey_footer {
 background: repeat-x;
 border-top: 1px solid #686868;
 bottom: 0;
 font-family : 'Arial', Sans-serif;
 height: 60px;
 left: 52%;
 margin: 0 auto 0 -530px;
 padding: 0 10px;
 position: fixed;
 text-shadow: 0px 1px 0px #6b6a6a;
 width: 1000px;
 z-index:2;
}

#stickey_footer {
 -moz-border-radius: 8px 8px 0px 0px;
 -webkit-border-radius: 8px 8px 0px 0px;
 border-radius: 8px 8px 0px 0px;
}

#stickey_footer {
 -moz-box-shadow:0px 0px 11px #191919;
 -webkit-box-shadow:0px 0px 11px #191919;
 box-shadow:0px 0px 11px #191919;
}
#footer_menu {
  position: relative;
  width: auto;
  display: inline-block;
  float: right;
}
#footer_menu #social{
 list-style: none;
 font-size:13px;
}
#footer_menu .imgmenu {
border:none;
 border-right:1px solid rgba(0, 0, 0, 0.4);
 cursor:pointer;
}
#footer_menu #social a {
 display: block;
 color: #000;
 text-shadow: 0px 1px 0px #c2c2c2;
 text-decoration: none;
}
#footer_menu #social a:hover {
 color: #056690;
 text-shadow: 0px 1px 5px #32d0ff;
}
#footer_menu p span {
 display:none;
}
#stickey_footer #social_icons {
 overflow:hidden;
 position: static;
 display: inline-block;
  float: right;
}
#stickey_footer #social_icons .social {
 list-style:none;
 position: static;
 display: inline-flex;
 padding: 4px;
}
#links {
  display: inline-block;
  float:left;
  position: relative;
  width: auto;
  padding: 20px;
}
#links ul li{
  margin: 0;
  padding-left: 30px;
  display: inline;
}
#links ul li a{
  margin: 0;
  display: inline;
  color: #000;
  text-shadow: 0px 1px 0px #c2c2c2;
  text-decoration: none;
}
